<%= form_for(@userss) do |f| %>
  <% if @userss.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@userss.errors.count, "error") %> prohibited this userss from being saved:</h2>

      <ul>
      <% @userss.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mae %><br />
    <%= f.text_field :mae %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
