<h1>Listing usersses</h1>

<table>
  <tr>
    <th>Mae</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usersses.each do |userss| %>
  <tr>
    <td><%= userss.mae %></td>
    <td><%= userss.email %></td>
    <td><%= link_to 'Show', userss %></td>
    <td><%= link_to 'Edit', edit_userss_path(userss) %></td>
    <td><%= link_to 'Destroy', userss, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Userss', new_userss_path %>
