<p id="notice"><%= notice %></p>

<p>
  <b>Mae:</b>
  <%= @userss.mae %>
</p>

<p>
  <b>Email:</b>
  <%= @userss.email %>
</p>


<%= link_to 'Edit', edit_userss_path(@userss) %> |
<%= link_to 'Back', usersses_path %>
